@model IEnumerable<OnlineMagazam.Entity.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="row">
    <div class="col-12">

        <!-- /.card -->

        <div class="card">

            <!-- /.card-header -->
            <div class="card-body">
                <a class="btn btn-primary btn-block" href="@Url.Action("Create")">Yeni Kayıt</a>
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Resim</th>

                            <th> Adı</th>
                            <th>Onaylı</th>
                            <th>Anasayfa</th>
                            <th>Popüler</th>
                            <th>Kategori Adı</th>
                            
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>
                                <img src="~/Content/Images/@item.Image" width="75" height="50" />
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @if (item.IsApproved)
                                {
                                    <label class="badge badge-success"><i class="fa fa-fw fa-check-square"></i>Evet</label>
                                }
                                else
                                {
                                    <label class="badge badge-danger"><i class="fa fa-fw fa-times-circle"></i>Hayır</label>
                                }
                            </td>
                            <td>
                                @if (item.IsHome)
                                {
                                    <label class="badge badge-success"><i class="fa fa-fw fa-check-square"></i>Evet</label>
                                }
                                else
                                {
                                    <label class="badge badge-danger"><i class="fa fa-fw fa-times-circle"></i>Hayır</label>
                                }
                            </td>
                            <td>
                                @if (item.IsFeatured)
                                {
                                    <label class="badge badge-success"><i class="fa fa-fw fa-check-square"></i>Evet</label>
                                }
                                else
                                {
                                    <label class="badge badge-danger"><i class="fa fa-fw fa-times-circle"></i>Hayır</label>
                                }
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Category.Name)
                            </td>
                            <td>
                                <a class="btn btn-primary btn-sm" href="@Url.Action("Edit", new { id = item.Id })"><i class="fa fa-fw fa-edit"></i>Düzenle</a>
                                <a class="btn btn-danger btn-sm" href="@Url.Action("Delete", new { id = item.Id })"><i class="fa fa-fw fa-trash"></i>Sil</a>
                            </td>
                        </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Resim</th>

                            <th> Adı</th>
                            <th>Onaylı</th>
                            <th>Anasayfa</th>
                            <th>Popüler</th>
                            <th>Kategori Adı</th>

                            <th></th>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col -->
</div>
